p.red {
    color:red;
}
p.bold {
    font-weight:bold;
}
li.black {
    color:black;
}
li.orange {
    color:orange;
}
li.red {
    color: red;
}
li.green {
    color:green;
}
span.small {
    font-size: 3px;
}
span.x-small{
    font-size: 10px;
}
span.medium {
    font-size: 30px;
}
span.x-medium {
    font-size: 50px;
    }
span.xx-medium {
    font-size: 60px;
}
span.xx-large {
    font-size: 90px;
}
span.x-large {
    font-size: 75px;

}
